.PokeIcon {
    max-width: 250px;
}

.loaderText {
    font-family: 'Fredoka One', cursive;
}

.rotate {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}