.header {
  padding: 20px;
  background-image: linear-gradient(to top left, red, white);
  display: flex;
  align-items: center;
  height: 140px;
}

.headerImage {
  width: 75px;
  height: 75px;
  margin-right: 50px;
}

.headerLogo {
  border: 1px solid black;
  width: 140px;
}
