.card {
    background-image: linear-gradient(to top right, red, white);
    border: 1px solid black;
}

.cardFont {
    font-family: 'Fredoka One', cursive;
    font-size: 1.25rem;

}

.cardHeader {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2rem;
}

.imgAvatar {
    border: 1px solid black;
    background-color: white
}

.imgMain {
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
}